<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="fr">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
<link rel="stylesheet" href="owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="owl-carousel/owl.transitions.css">
<link rel="stylesheet" href="css/carousel.laposte.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/jquery.carouselPartPro.js"></script>
<script src="owl-carousel/owl.carousel.min.js"></script>
<script src="js/monscript.js"></script>
<head>


	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Title Goes Here</title>


</head>



<body>

<p>This is my web page</p>

<div id="widget-carrousel-professionnel"></div>


</body>


</html>



